@import url('tamples/header.scss');
@import url('tamples/footer.scss');
$primary-color: #ff0000;
$title_color: blue;

header {
    font-size: 60px;

    h1 {
        font-size: 10px;

        span {
            color: $title_color;
            font-size: 40px;
        }
    }
}

h1 {
    color: $primary-color;

}